@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Bold Font';
	src: url('../../public/fonts/bold-font.ttf');
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hideScrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
